<footer>
    <div class="container">
    <div class="footer-links">
        <a href="#">About Us</a>
        <a href="#">Terms & Conditions</a>
        <a href="#">Privacy Policy</a>
    </div>
    <div class="footer-social">
        <a href="#" class="footer-social-facebook"></a>
        <a href="#" class="footer-social-tweeter"></a>
        <a href="#" class="footer-social-instagram"></a>
        <div class="copyright">	&#169; 2015 All right reserved</div>
    </div>
    </div>
</footer>
</body>
</html>