@media all {
  .content {
    .container {
      width: 640px;
      margin: 0 auto;
    }
    .commentary {
      border-bottom: 2px solid #f3f3f3;
      padding-bottom: 53px;
      .commentary-info {
        font: bold 21px "Montserrat-Bold";
        .user {
          margin-left: 35px;
          margin-top: 41px;
          img{
            width: 51px;
            height: 51px;
          }
          .commentary-info-profile {
            vertical-align: middle;
          }
          .user-name {
            line-height: 52px;
            margin-left: 20px;
          }
        }
        a {
          display: inline-block;
          text-decoration: none;
          color: #000;
        }
        .commentary-info-data {
          display: inline-block;
          float: right;
          margin-top: 55px;
          margin-right: 40px;
        }
        .commentary-info-date {
          background: url("../img/icons/time.png") no-repeat;
          height: 26px;
          padding-left: 33px;
          .time {
            color: #7f7f7f;
            text-transform: lowercase;
            font: normal 17.12px "Montserrat-Regular";
          }
        }
        .commentary-info-liked {
          background: url("../img/icons/like.png") no-repeat;
          height: 25px;
          padding-left: 30px;
          font: normal 17.12px "Montserrat-Regular";
        }
        span {
          display: inline-block;
        }
      }
      .commentary-info-data-mobile{
        display: none;
      }
      .commentary-text {
        font: normal 21px "Montserrat-Regular";
        width: 485px;
        margin-left: 113px;
        margin-top: 19px;
        line-height: 32px;
        letter-spacing: -0.4px;
      }
    }
    .add-commentary {
      margin-top: 12px;
      padding-bottom: 20px;
      img{
        display: none;
      }
      .loading-comments{
        display: none;
      }
      .input-commentary{
        border: none;
        width: 530px;
        display: inline-block;
      }
      .attachments {
        background: url("../img/icons/attachments.png") no-repeat;
        display: inline-block;
        width: 25px;
        height: 36px;
        margin-left: 32px;
      }
      .add-commentary-text {
        border: none;
        margin-left: 30px;
        width: 430px;
        font-size: 21px;
        vertical-align: middle;
        letter-spacing: 1.5px;
        resize: none;
      }
      textarea:focus {
        outline: none;
      }
      .submit {
        background: url("../img/icons/submit.png") no-repeat;
        width: 38px;
        height: 37px;
        display: inline-block;
        float: right;
        margin-right: 24px;
        margin-top: 2px;
      }
      .submit-button{
        display: none;
      }
    }
  }

}
@media screen and (min-width: 1536px){
  .content{
    .container{
      width: 1536px;
      margin: 0 auto;
    }
    .commentary {
      margin-top: 80px;
      padding-bottom: 46px;
      .commentary-info {
        .user{
          margin-left: 80px;
          .commentary-info-profile{
            vertical-align: top;
          }
          .user-name{
            line-height: 0;
            margin-left: 60px;
          }
          img{
            width: 110px;
            height: 110px;
          }
        }
        .commentary-info-data{
          color: #7f7f7f;
          margin-top: 45px;
          margin-right: 93px;
        }
        font-size: 28px;
        .commentary-info-date {
          margin-right: 53px;
          font-size: 20px;
        }
        .commentary-info-liked {
          font-size: 20px;
          padding-left: 40px;
        }
      }
      .commentary-text {
        font-size: 28px;
        width: 770px;
        margin-left: 259px;
        margin-top: -50px;
        line-height: 45px;
        letter-spacing: -0.4px;
      }
    }
    .commentary:nth-child(2){
      margin-top: 41px;
    }
    .commentary:nth-child(3){
      margin-top: 38px;
    }
    .add-commentary {
      img{
        display: inline-block;
        margin-top: 13px;
        margin-left: 80px;
      }
      .loading-comments{
        font: bold 23px "Montserrat-Bold";
        color: #ddd;
        text-align: center;
        display: block;
        line-height: 165px;
      }
      .input-commentary{
        display: inline-block;
        border: 1px solid #f96331;
        border-radius: 50px;
        height: 105px;
        vertical-align: top;
        width: 795px;
        margin-left: 65px;
        margin-top: 13px;
      }
      .attachments {
        background-size: 29px 42px;
        margin-top: 32px;
        margin-left: 49px;
        width: 29px;
        height: 42px;
      }
      .add-commentary-text {
        width: 550px;
        font-size: 26px;
        vertical-align: top;
        margin-top: 39px;
      }
      .submit {
        display: none;
      }
      .submit-button{
        background: url("../img/icons/submit-big.png") 95px center no-repeat #f96331;
        display: inline-block;
        padding: 40px 111px 40px 167px;
        border-radius: 52px;
        text-decoration: none;
        color: #fff;
        font-size: 26px;
        vertical-align: top;
        margin-left: 35px;
        margin-top: 13px;
        -webkit-box-shadow: 0 10px 30px -8px #777;
        -moz-box-shadow: 0 10px 30px -8px #777;
        box-shadow: 0 10px 30px -8px #777;
      }
    }
  }
}
@media screen and (orientation: landscape) and (min-width: 2048px) {
  .content{
    .container{
      width: 1536px;
      margin: 0 auto;
    }
    .commentary {
      margin-top: 45px;
      padding-bottom: 70px;
      .commentary-info {
        .user{
          margin-left: 80px;
          .commentary-info-profile{
            vertical-align: top;
          }
          .user-name{
            font-size: 20.48px;
            margin-left: 42px;
          }
          img{
            width: 82px;
            height: 81px;
          }
        }
        .commentary-info-data{
          margin-top: 40px;
          margin-right: 93px;
        }
        .commentary-info-date {
          margin-right: 18px;
          font-size: 14.53px;
        }
        .commentary-info-liked {
          padding-left: 40px;
          font-size: 14.53px;
        }
      }
      .commentary-text {
        font-size: 20.48px;
        width: 800px;
        margin-left: 213px;
        margin-top: -41px;
        letter-spacing: 0px;
      }
    }
    .commentary:nth-child(2){
      margin-top: 6px;
      padding-bottom: 59px;
    }
    .commentary:nth-child(3){
      margin-top: 15px;
    }
    .add-commentary {
      img{
        width: 82px;
        height: 81px;
        margin-top: 25px;
      }
      .loading-comments{
        font-size: 17.56px;
      }
      .input-commentary{
        display: inline-block;
        border: 1px solid #ff6c38;
        height: 82px;
        width: 935px;
        margin-left: 46px;
        margin-top: 24px;
      }
      .attachments {
        background-size: 22px 31px;
        margin-left: 35px;
        margin-top: 25px;
      }
      .add-commentary-text {
        margin-top: 23px;
        width: 770px;
        font-size: 20.48px;
        margin-left: 18px;
      }
      .submit {
        display: none;
      }
      .submit-button{
        background-size: 35px 32px;
        background-position: 73px center;
        padding: 25px 76px 31px 130px;
        font-size: 19.02px;
        letter-spacing: 0.5px;
        margin-top: 28px;
      }
    }
  }
}
@media screen and (max-width: 639px){
  .content {
    .container {
      width: 320px;
      margin: 0 auto;
    }
    .commentary {
      padding-bottom: 40px;
      .commentary-info {
        font: bold 14px "Montserrat-Bold";
        .commentary-info-data{
          display: none;
        }
        .user {
          margin-left: 10px;
          margin-top: 10px;
          img{
            width: 31px;
            height: 31px;
          }
          .user-name {
            margin-left: 5px;
          }
        }
      }
      .commentary-info-data-mobile {
        display: inline-block;
        float: right;
        margin-right: 30px;
        margin-top: 10px;
        .commentary-info-date {
          background: url("../img/icons/time.png") no-repeat;
          height: 20px;
          padding-left: 20px;
          background-size: 15px 15px;
          font-size: 12px;
          .time {
            color: #7f7f7f;
            text-transform: lowercase;
            font: normal 12px "Montserrat-Regular";
          }
        }
        .commentary-info-liked {
          background: url("../img/icons/like.png") no-repeat;
          height: 25px;
          padding-left: 20px;
          font: normal 12px "Montserrat-Regular";
          background-size: 15px 15px;
          margin-left: 10px;
        }
        span {
          display: inline-block;
        }
      }
      .commentary-text {
        font: normal 15px "Montserrat-Regular";
        width: 285px;
        margin:0 auto;
      }
    }
    .add-commentary {
      margin-top: 12px;
      padding-bottom: 10px;
      img{
        display: none;
      }
      .loading-comments{
        display: none;
      }
      .input-commentary{
        border: none;
        width: 320px;
        display: inline-block;
      }
      .attachments {
        background-size: 15px 26px;
        margin-left: 10px;
      }
      .add-commentary-text {
        margin-left: 10px;
        width: 250px;
        font-size: 15px;
        vertical-align: bottom;
      }
      .submit {
        display: none;
      }
      .submit-button{
        margin: 10px auto 0;
        width: 50px;
        display: block;
        padding: 10px 69px 10px 8px;
        background: url(../img/icons/submit-big.png) 75px center no-repeat #f96331;
        border-radius: 52px;
        text-decoration: none;
        color: #fff;
        font-size: 14px;
        background-size: 25px 23px;
      }
    }
  }
}