@font-face {
  font-family: Montserrat-Bold;
  src: url(../fonts/Montserrat-Bold.woff) format('woff');
}
@font-face {
  font-family: Montserrat-Bold;
  src: url(../fonts/Montserrat-Bold.woff2) format('woff2');
}
@font-face {
  font-family: Montserrat-Regular;
  src: url(../fonts/Montserrat-Regular.woff) format('woff');
}
@font-face {
  font-family: Montserrat-Bold;
  src: url(../fonts/Montserrat-Regular.woff) format('woff2');
}