@media all{
  footer{
    display: none;
    .footer-links{
      display: none;
    }
    .footer-social{
      a {
        display: none;
      }
    }
  }
}
@media screen and (min-width: 1536px) {
  footer {
    display: block;
    background-color: #f2f2f2;
    font: normal 20px "Montserrat-Regular";
    color: #c0c0c0;
    height: 200px;
    margin-top: 79px;
    .copyright {
      text-align: center;
      line-height: 200px;
    }
  }
}
@media screen and (orientation: landscape) and (min-width: 2048px) {
  footer{
    display: block;
    height: 145px;
    margin-top: 70px;
    .container{
      width: 1536px;
      margin: 0 auto;
    }
    .footer-links{
      line-height: 143px;
      display: inline-block;
      margin-left: 74px;
      a{
       text-decoration: none;
       color: #c0c0c0;
       font-size: 14.63px;
       margin-left: 54px;
      }
      a:first-child{
        margin-left: 0;
      }
    }
    .footer-social{
      display: inline-block;
      float: right;
      margin-right: 86px;
      margin-top: 53px;
      a{
        display: inline-block;
        margin-right: 31px;
      }
      a:nth-child(3){
        margin-right: 76px;
      }
      .footer-social-facebook{
        background: url("../img/social/fb.png") no-repeat;
        width: 23px;
        height: 23px;
      }
      .footer-social-tweeter{
        background: url("../img/social/tweet.png") no-repeat;
        width: 23px;
        height: 21px;
      }
      .footer-social-instagram{
        background: url("../img/social/inst.png") no-repeat;
        width: 23px;
        height: 23px;
      }
    }
    .copyright{
      display: inline-block;
      font-size: 14.63px;
      line-height: 0;
    }
  }
}
@media screen and (max-width: 639px){
  display: none;
}