@media all {
  header {
    .container {
      width: 640px;
      margin: 0 auto;
    }
    height: 365px;
    background-color: #ec5d2e;
    .drop-down{
      display: none;
    }
    .right-nav{
      display: none;
    }
    .header-nav {
      background-color: #f96331;
      height: 110px;
      .header-news{
        display: none;
      }
      .logo{
        display: none;
      }
      a {
        display: inline-block;
        vertical-align: top;
        margin-left: 93px;
        margin-top: 50px;
      }
      a:first-child {
        margin-left: 24px;
        margin-top: 53px;
      }
      .header-nav-back {
        background: url("../img/icons/back.png") no-repeat;
        width: 21px;
        height: 35px;
      }
      .header-nav-comment {
        background: url("../img/icons/comment.png") no-repeat;
        width: 38px;
        height: 39px;
        margin-left: 113px;
        margin-top: 48px;
      }
      .header-nav-text {
        background: url("../img/icons/text.png") no-repeat;
        width: 45px;
        height: 31px;
        margin-right: 2px;
      }
      .header-nav-bookmark {
        background: url("../img/icons/bookmark.png") no-repeat;
        width: 36px;
        height: 36px;
        margin-right: 6px;
      }
      .header-nav-share {
        background: url("../img/icons/share.png") no-repeat;
        width: 33px;
        height: 33px;
        margin-top: 52px;
      }
    }
    .header-comments {
      font: bold 19px "Montserrat-Bold";
      .comment-all {
        text-align: center;
        font-size: 34px;
        color: #fff;
        margin-top: 58px;
        letter-spacing: 1px;
      }
      .comment-reg {
        margin-top: 48px;
        .comment-reg-best{
          margin-left: 49px;
        }
        a {
          display: inline-block;
          text-decoration: none;
          color: #f6baac;
          padding: 20px 60px;
        }
        .active {
          border: 1px solid #f28e6d;
          border-radius: 34px;
          color: #fff;
        }
      }
    }
  }
}
@media screen and (min-width: 1536px){
  header{
    height: 568px;
    .container{
      width: 1536px;
      margin: 0 auto;
    }
    .header-nav {
      .left-nav{
        float: left;
        margin-top: 12px;
      }
      height: 130px;
      a {
        margin-left: 75px;
        margin-top: 50px;
      }
      a:first-child {
        margin-left: 25px;
      }
      .logo{
        position: absolute;
        display: inline-block;
        margin: 60px 0 0 -21.5px;
        left: 50%;
      }
      .hide {
        display: none;
      }
      .right-nav{
        display: inline-block;
        float: right;
        margin-top: 10px;
        a{
          display: inline-block;
          margin-left: 0;
          margin-right: 59px;
        }
        .header-nav-text{
          background-image: url("../img/icons/text-white.png");
          width: 52px;
          height: 36px;
        }
        .comment-search{
          border: none;
          text-decoration: none;
          margin-top: 55px;
          margin-right: 20px;
          height: 35px;
          border-radius: 15px;
          padding-left: 20px;
          font-size: 23px;
        }
        input:focus{
          outline: none;
        }
        .header-nav-search{
          background: url("../img/icons/search.png") no-repeat;
          width: 43px;
          height: 45px;
        }
        .header-nav-profile{
          margin-right: 30px;
          margin-top: 47px;
          margin-left: 0;
        }
        .header-nav-bookmark-white{
          display: none;
        }
      }
    }
    .header-comments {
      font-size: 22px;
      .comment-all {
        font-size: 80px;
        letter-spacing: 0px;
        margin-top: 98px;
      }
      .comment-reg {
        width: 700px;
        margin: 65px auto 0;
      }
    }
  }
}
@media screen and (orientation: landscape) and (min-width: 2048px) {
  header{
    height: 380px;
    .container {
      width: 2044px;
      margin: 0 auto;
      .header-news {
        text-decoration: none;
        display: inline-block;
        color: #fff;
        font: bold 15px "Montserrat-Bold";
        margin-left: 70px;
        margin-top: 35px;
      }
      .drop-down {
        display: inline-block;
        background: url("../img/icons/drop-down.png") no-repeat;
        width: 31px;
        height: 25px;
        margin-left: 46px;
        margin-top: 32px;
      }
    }
    .header-nav {
      height: 88px;
      .left-nav{
        float: left;
        display: none;
      }
      a {
        margin-left: 100px;
        margin-top: 50px;
      }
      a:first-child {
        margin-left: 25px;
      }
      .logo{
        margin: 30px 0 0 -16px;
        display: inline-block;
        img{
          width: 32px;
          height: 32px;
        }
      }
      .right-nav{
        a{
          display: inline-block;
          margin-top: 17px;
          margin-left: 0;
          margin-right: 30px;
        }
        .header-nav-text{
          background-size: 40px 26px;
        }
        .comment-search{
          margin-top: 18px;
        }
        .header-nav-search{
          background-size: 31px 32px;
        }
        .header-nav-profile{
          margin-right: 41px;
          margin-top: 12px;
          img {
            width: 45px;
            height: 45px;
          }
        }
        .header-nav-bookmark-white{
          background: url("../img/icons/bookmark-white.png") no-repeat;
          width: 31px;
          height: 31px;
          display: inline-block;
          margin-top: 19px;
          margin-right: 43px;
        }
      }
    }
    .header-comments {
      font-size: 22px;
      .comment-all {
        font-size: 58.5px;
        margin-top: 110px;
        margin-left: 333px;
        display: inline-block;
      }
      .comment-reg {
        width: 700px;
        float: right;
        margin-top: 117px;
        margin-right: 151px;
        font-size: 16px;
        display: inline-block;
        a{
          padding: 20px 53px;
        }
        .comment-reg-best{
          margin-left: 55px;
        }
      }
    }
  }
}
@media screen and (max-width: 639px){
  header{
    height: 250px;
    .container{
      width: 320px;
      margin: 0 auto;
      .drop-down{
        display: inline-block;
        background: url("../img/icons/drop-down.png") no-repeat;
        width: 31px;
        height: 25px;
        margin-left: 25px;
        margin-top: 20px;
      }
    }
    .header-nav {
      height: 75px;
      .left-nav{
        display: none;
      }
      .logo{
        display: inline-block;
        position: absolute;
        margin: 20px 0 0 -21.5px;
        left: 50%;
      }
      .hide {
        display: none;
      }
      .right-nav{
        display: none;
      }
    }
    .header-comments {
      .container{
        height: 150px;
      }
      .comment-all {
        font-size: 35px;
        margin: 25px 0 0 0;
      }
      .comment-reg {
        width: 305px;
        margin: 25px auto 0;
        .comment-reg-best{
          margin: 0;
        }
        a{
          font-size: 15px;
          padding: 8px 25px;
        }
      }
    }
  }
}