//= template/head.html

<header>
    <div class="header-nav">
    <div class="container">
        <div class="left-nav">
        <a href="#" class="header-nav-back"></a>
        <a href="#" class="header-nav-comment"></a>
        <a href="#" class="header-nav-text hide"></a>
        <a href="#" class="header-nav-bookmark"></a>
        <a href="#" class="header-nav-share"></a>
        </div>
        <a href="#" class="drop-down"></a>
        <a href="#" class="header-news">NEWS</a>
        <a href="#" class="logo"><img src="img/logo.png" alt="логотип"></a>
        <div class="right-nav">
            <a href="#" class="header-nav-text"></a>
            <input type="search" ng-model="search" class="comment-search" placeholder="find a comment">
            <a href="#" class="header-nav-search"></a>
            <a href="#" class="header-nav-profile"><img src="img/user.png"></a>
            <a href="#" class="header-nav-bookmark-white"></a>
        </div>
    </div>
    </div>
    <div class="header-comments">
        <div class="container">
        <div class="comment-all">23 COMMENTS</div>
        <div class="comment-reg">
            <a href="#" class="comment-reg-best active">Best</a>
            <a href="#" class="comment-reg-newest">Newest</a>
            <a href="#" class="comment-reg-oldest">Oldest</a>
        </div>
        </div>
    </div>

</header>
<div class="content">
    <div class="container" ng-controller="CommentsCtrl">
    <div class="commentary" ng-repeat="comment in comments | filter:search">
        <div class="commentary-info">
            <span class="user">
            <a href="#"><img src="{{comment.img}}" class="commentary-info-profile"></a>
            <a href="#" class="user-name">{{comment.name}}</a>
            </span>
            <div class="commentary-info-data">
                <span class="commentary-info-date">{{comment.date.toLocaleDateString("en-US", {month: "long", day: "numeric"})}} <span class="time">{{comment.date.toLocaleTimeString("en-US", {hour: "numeric", minute: "numeric"})}}</span></span>
                <span class="commentary-info-liked" ng-click="comment.like = comment.like + 1">{{comment.like}}</span>
            </div>
        </div>
        <div class="commentary-text">{{comment.message}}</div>
        <div class="commentary-info-data-mobile">
            <span class="commentary-info-date">{{comment.date.toLocaleDateString("en-US", {month: "long", day: "numeric"})}} <span class="time">{{comment.date.toLocaleTimeString("en-US", {hour: "numeric", minute: "numeric"})}}</span></span>
            <span class="commentary-info-liked" ng-click="comment.like = comment.like + 1">{{comment.like}}</span>
        </div>
    </div>
    <div class="add-commentary">
        <div class="loading-comments">LOADING COMMENTS...</div>
        <img src="img/user-big.png" alt="">
        <div class="input-commentary">
            <a href="" class="attachments"></a>
            <textarea class="add-commentary-text" ng-model="message" type="text" placeholder="Write something..."></textarea>
        </div>
        <a href="" class="submit" ng-click="addComments()"></a>
        <a href="" class="submit-button" ng-click="addComments()">Submit</a>
    </div>

    </div>
</div>

//= template/footer.html
